{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 6,
  "printWidth": 120,
  "bracketSameLine": false,
  "overrides": [
    {
      "files": "*.prisma",
      "options": {
        "parser": "prisma"
      }
    }
  ]
}
